#addTodo {
    flex-basis: 100%;
    max-width: 100%;
}

#title input {
    width: 16%;
    min-width: 100px;
}

#list-title {
    padding-right: 10px;
}

#todo-list-title {
    font-size: 50px;
}

.example-container {
    flex-direction: row;
}

.example-container > * {
    width: 100%;
}

#check {
    color: green;
}

#exed {
    color: red;
}

#todoStatus {
    padding: 5px;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: black;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

#complete {
    color: green;
}

#incomplete {
    color: red;
}

#statusDiv {
    font-size: small;
}
